In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import time

In [3]:
from parsers import parserSMC, parserRegex, parserLeX

In [4]:
from stringGenerator import generate

In [5]:
data = [[], [], []]
file_paths = []

In [6]:
test_dir = "./timing"
for i in range(0, 451, 50):
    path = generate(test_dir, N=i, maxLen=100)
    file_paths.append(path)

In [7]:
for path in file_paths:
    handler = open(path, 'r')
    text = handler.read()
    start = time.time_ns()
    for s in text:
        parser = parserSMC.lab1()
        parser.CheckString(s)
    end = time.time_ns()
    data[0].append(end-start)

    start = time.time_ns()
    for s in text:
        parser = parserRegex.Regex()
        parser.CheckString(s)
    end = time.time_ns()
    data[1].append(end-start)
    handler.close()

    start = time.time_ns()
    for s in text:
        parser = parserLeX.ParserLeX()
        parser.build()
        parser.CheckString(s)
    end = time.time_ns()
    data[2].append(end-start)

In [8]:
indexes = [i for i in range(0, 451, 50)]
data

[[0,
  148995900,
  639439900,
  830093500,
  1538165100,
  1726381100,
  2050920300,
  2953736500,
  2702731600,
  2711287000],
 [0,
  46866400,
  308762900,
  392316900,
  683333700,
  796857400,
  1031435300,
  1250293600,
  1281389100,
  1315456200],
 [0,
  3823198400,
  20970339000,
  26265926000,
  42055579000,
  48209615800,
  59288668800,
  74909112900,
  80957845500,
  83910545300]]

In [9]:
df = pd.DataFrame(data, columns=indexes, index=['smc', 'regex', 'lex'])
df

,0,50,100,150,200,250,300,350,400,450
smc,0,148995900,639439900,830093500,1538165100,1726381100,2050920300,2953736500,2702731600,2711287000
regex,0,46866400,308762900,392316900,683333700,796857400,1031435300,1250293600,1281389100,1315456200
lex,0,3823198400,20970339000,26265926000,42055579000,48209615800,59288668800,74909112900,80957845500,83910545300

In [10]:
data2 = [[], [], []]
file_paths2 = []

In [11]:
test_dir = "./timing"
for i in range(10, 101, 10):
    path = generate(test_dir, N=10, maxLen=i)
    file_paths2.append(path)

In [12]:
for path in file_paths2:
    handler = open(path, 'r')
    text = handler.read()
    start = time.time_ns()
    for s in text:
        parser = parserSMC.lab1()
        parser.CheckString(s)
    end = time.time_ns()
    data2[0].append(end-start)

    start = time.time_ns()
    for s in text:
        parser = parserRegex.Regex()
        parser.CheckString(s)
    end = time.time_ns()
    data2[1].append(end-start)
    handler.close()

    start = time.time_ns()
    for s in text:
        parser = parserLeX.ParserLeX()
        parser.build()
        parser.CheckString(s)
    end = time.time_ns()
    data2[2].append(end-start)

In [13]:
indexes = [i for i in range(10, 101, 10)]
data2

[[74847300,
  113690500,
  15959300,
  37902400,
  40948400,
  99785200,
  124662000,
  116689500,
  45921600,
  52904900],
 [23935200,
  55850400,
  6981200,
  16947800,
  18936000,
  45872000,
  52858300,
  54853200,
  21942300,
  23935700],
 [2140299000,
  4523915200,
  632308300,
  1482038600,
  1559978800,
  3814793000,
  3992379800,
  4480421600,
  1805607300,
  2017745000]]

In [14]:
df2 = pd.DataFrame(data2, columns=indexes, index=['smc', 'regex', 'lex'])
df2

,10,20,30,40,50,60,70,80,90,100
smc,74847300,113690500,15959300,37902400,40948400,99785200,124662000,116689500,45921600,52904900
regex,23935200,55850400,6981200,16947800,18936000,45872000,52858300,54853200,21942300,23935700
lex,2140299000,4523915200,632308300,1482038600,1559978800,3814793000,3992379800,4480421600,1805607300,2017745000